.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
}

.error-page h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.error-page p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.error-home {
  padding: 10px 20px;
  background-color: #5f5f5f;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
